body {
    font-family: Arial;
    background: linear-gradient(to left, rgb(235, 235, 235) 0%, rgb(255, 255, 255) 100%);
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Roboto';
}

h2 {
  margin: 5px;
}

a:link {
    color: white;
    text-decoration: none;
  }

a:visited {
    color: white;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
    color: rgb(233, 212, 27);
  }
  
a:active {
    text-decoration: none;
    color: white;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .header {
    padding-top: 102px;
  }

.inverted {
  background-color: #328cc1;
  color: white;
  padding: 0px 2px;
}

.title {
  letter-spacing: 4px;
  margin: 0;
  text-align: center;
}

.subtitle {
 margin: 0;
 letter-spacing: 1px;
}

.listtitle {
  list-style: none;
}

.banner {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  object-fit: contain;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between; 
  
}

.titlecontainer {
  margin: 100px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.logo {
  height: 75px;
  width: 75px;
}


.titleelement {
  display: flex;
}

.titleelementlow {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}


.menuelement {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

a.menuitem:hover {
    color: #1e87c4;
    background-color: #d6eaf6;
}



a.menuitem {
  margin: 5px; 
  font-family: Garamond, sans-serif;
  text-align: center;
  color: black;
  padding: 5px;
}

.container {
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section {
    max-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secphoto {
    margin: 10px 10px 0px 10px;
    max-width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.secphoto.last {
   margin-bottom: 10px;
}


.photoframe {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    transition: .5s ease;
}

p {
    text-align: center;
}

.overlay {
    position: absolute;
    display: inline-block;
    object-fit: contain;
    padding: 10px;
    top: 45%;
    left: 50%;
    opacity: 0;
    transition: .5s ease;
    
  }

  .secphoto:hover .photoframe {
    opacity: 0.7;
  }
  
  .secphoto:hover .overlay {
    opacity: 0.9;
  }

  .text {
    color: white;
    background-color: #4177eb;
    font-size: 16px;
    padding: 16px 32px;
    font-size: 20px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
  }

  .text:hover {
    color: #4177eb;
    background-color: white;
  }